@{
    ViewData["Title"] = "Home Page";
}

<div class="btn-group">
  <a class="btn btn-primary" href="#/">List</a>
  <a class="btn btn-primary" href="#/newTask">New task</a>
</div>

<div ng-view></div>
